<html>
<head>
  <title>BizCred</title>
  <link rel="stylesheet" href="clarity-ui.min.css">
  <link rel="stylesheet" href="clarity-icons.min.css">
  <script src="custom-elements.min.js"></script>
  <script src="clarity-icons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body style="zoom:1.1; -moz-transform:scale(1.1);">
<header class="header-7">
  <div class="branding" style='cursor: pointer;' href="/">
    <h3 style="margin: 14px 10px; color: white;">
      <clr-icon shape="savings" class="is-solid"></clr-icon> <b>Reputable</b></h3>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-text" href="/">My Score</a>
    <a class="nav-link nav-text" href="/search">Search</a>
    <a class="nav-link nav-text" href="/evaluation">Track</a>
  </div>
  <div class="header-actions">
    <a class="nav-link nav-icon">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>
