<% include header.ejs %>
<style>
    #background {
        background-image: url("http://www.intuit.com.au/content/dam/intuit/quickbooks/payments_feature_hero.jpg");
        background-size: cover;
    }
</style>
<div class="container-fluid" id="background">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br><br><br><br>
            <div class="card" style="min-height: 350px; text-align: center;">
                <div class="card-block"><br>
                    <h2><b>Unlock Your Business Credibility</b></h2><br /><br />
                    <a class="imgLink" href="#" onclick="launchPopup('/connect_to_quickbooks')">
                        <img
                                style="height: 40px"
                                src="C2QB_white_btn_lg_default.png"
                                onmouseover="this.src='C2QB_white_btn_lg_hover.png'"
                                onmouseout="this.src='C2QB_white_btn_lg_default.png'"
                        />
                    </a>
                </div>
            </div>
        <br><br><br><br /><br /><br /><br /><br /><br>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<% include footer.ejs %>