<% include header.ejs %>
<style>
    a {
        color: black;
        text-decoration: none;
    }

    a:hover, a:visited, a:focus
    {
        color:black;
        text-decoration:none;
        cursor:pointer;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><br>
            <h2>Search Businesses</h2>
            <br>
            <input type="text" id="search" placeholder="Search" size="78">
            <clr-icon shape="search" class="is-solid" size="25"></clr-icon>
            <br><br>
            <a href="/florist">
            <div class="card">
                <div class="card-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>ABC Florist</h4>
                                <p>Details</p>
                                <br>
                            </div>
                            <div class="col-md-2">
                                <h1 style="color: deepskyblue;">70</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            <div class="card" style="cursor: pointer">
                <div class="card-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>Cook's Restaurant</h4>
                                <p>Details</p>
                                <br>
                            </div>
                            <div class="col-md-2">
                                <h1 style="color: deepskyblue;">60</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="cursor: pointer">
                <div class="card-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>Ice Creamery</h4>
                                <p>Details</p>
                                <br>
                            </div>
                            <div class="col-md-2">
                                <h1 style="color: deepskyblue;">90</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<br>


<% include footer.ejs %>