<% include header.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><br>
            <h2>Search Businesses</h2>
            <br>
            <input type="text" id="search" placeholder="Search" size="78">
            <clr-icon shape="search" class="is-solid" size="25"></clr-icon>

            <div class="card">
                <div class="card-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>ABC Florist</h4>
                                <p>Details</p>
                                <br>
                            </div>
                            <div class="col-md-2">
                                <h1 style="color: deepskyblue;">70</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<br>


<% include footer.ejs %>